@model ProyectoVF.Models.Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
</head>
<body>
    <div class="card">
        <div class="card-header">
            <img src="@Model.ImgProducto" class="card-img-top" title="@Model.NombreProducto" style="height: 200px; width: 150px">
        </div>
        <div class="card-body">
            <h1>@Model.IdProducto</h1>
            <h1>@Model.NombreProducto</h1>
            <h1>@Model.DesProducto</h1>
            <h1>s/@Model.PrecioProducto</h1>
        </div>
        <div class="card-footer">
            <form asp-controller="Cart" asp-action="Index" method="post">
                <input type="hidden" name="idProducto" value="@Model.IdProducto" />
                <input type="hidden" name="nomProducto" value="@Model.NombreProducto" />
                <input type="hidden" name="desProducto" value="@Model.DesProducto" />
                <input type="hidden" name="preProducto" value="@Model.PrecioProducto" />
                <input type="submit" value="Add cart" />
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z" />
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                </svg>
            </form>
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-warning">@TempData["Message"]</div>
            }
        </div>
    </div>
</body>
</html>